.chat-tab {
    display: grid;
    grid-template-rows: [messages-s] 55rem [messages-e text-s] 5rem [text-e];
    grid-template-columns: 1fr;

    &__messages {
        grid-row: messages-s/messages-e;
        display: flex;
        margin-top: auto;
        flex-direction: column;
        // justify-content: flex-end;
 
        text-overflow: ellipsis;
        overflow: scroll;
        white-space: nowrap;
        height: 50rem;

        .chat-tab__message {
            grid-row: 1/-1;
            margin-bottom: 2rem;
            margin-left: 10rem;

            color: #263D42;
            font-size: 2rem;
            font-family: 'Roboto Condensed';
            
        }
    }
    &__messages::-webkit-scrollbar {
        width: 20px;
        }
        
        &__messages::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0; 
        border-radius: 10px;
        }
        
        &__messages::-webkit-scrollbar-thumb {
        background:#263d42; 
        border-radius: 10px;
        }
        
        &__messages::-webkit-scrollbar-thumb:hover {
        background:rgb(54, 56, 58); 
        }
}

.chat-tab-form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__message{
        display: grid;
        grid-row: 1/-1;
        grid-column: 1/2;
        align-content: center;
        justify-content: start;
        margin-left: 10rem;
    }
    &__send{
        display: grid;
        grid-row: 1/-1;
        grid-column: 2/3;
    }
}

.chat-form-button__button {
    height: 5rem;
    width: 23rem; 
    border-radius: 2rem;
    border-color: #80CED7;
    font-size: 3rem;
    color: white;
    background-color: #263D42;

    transition: all ease .1s;

    &:focus {
        outline: none;
        transform: scale(.99);
        font-size: 2.9rem;
    }
}

.chat-form-input__input {

    font-family: 'Roboto Condensed';
    height: 5rem;
    width: 70rem;
    font-size: 2rem;
    border: 1px solid #CCDBDC;
    border-radius: 1rem;
    padding-left: 2rem;

    &:focus {
        outline: none;
    }
}
