.rent-tab {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    &__rent {
        font-size: 6rem;
        font-family: 'Roboto Condensed';
    }
    &__rent-total {
        font-size: 6rem;
        font-family: 'Roboto Condensed';
        border-top: 1px solid #263d42;
    }
}