.utilities-tab {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;

    &__utility {
        margin-top: 3rem;
        font-size: 3rem;
        font-family: 'Roboto Condensed';
        margin-bottom: 2rem;
    }

    &__utility-total {
        font-size: 3rem;
        font-family: 'Roboto Condensed';
        border-top: 1px solid #263d42;
    }
}