.roomies {
    // height: 100vh;

    display: grid;

    grid-template-rows: [header-s] 64px [header-e content-s] 1fr [content-e footer-s] 64px [footer-e]; 
    grid-template-columns: [header-s] minmax(20px, 250px) [content-s] 1fr [content-e] minmax(20px, 250px)[header-e];


}